/* ================================= 
  Base Element Styles
==================================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #1a0841;
}

p {
	font-size: .95em;
  margin-bottom: 1.2em;
}

h2,
h3 {
  color: #4d84e2;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation
For both main page & subpages ---- */

.name a,
.main-nav a {
	text-align: center;
  display: block;
}

.name a {
  color: #1a0841;
}

.main-nav {
  display: none;
}

.main-nav a {
	font-size: .95em;
	color: #1a0841;
	text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 0;
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}

.main-nav a:hover {
  color: #4f9da6;
  opacity: 0.6;
}

.dropdown-content,
.dropdown-content2,
.dropdown-content3 {
  display: none;
  font-weight: bolder;
  border: 3px solid #4d84e2;
  background-color: #4d84e2;

}

/*-- Accordion CSS --*/

.accordionList{
	width: 400px;
  margin: 10px auto 30px auto;
}

.accordionList label {
  padding: 5px 20px;
  position: relative;
	z-index: 20;
	display: block;
	height: 40px;
	cursor: pointer;
	color: #1a0841;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 19px;
  background-color: #4d84e2;
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}

.accordionList label:hover {
  background: #4d84e2;

}

.accordionList input:checked + label,
.accordionList input:checked + label:hover{
  background-color: #4d84e2;
	color: #1a0841;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}

.accordionList input{
	display: none;
}

.accordionList article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	transition: 
		height 0.3s ease-in-out, 
		box-shadow 0.6s linear;
}

.accordionList input:checked ~ article {
	transition: 
		height 0.5s ease-in-out, 
		box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.accordionList article p {
	font-style: italic;
	color: #777;
	line-height: 16px;
	font-size: 0.75em;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.accordionList input:checked ~ article.ac-one {
	height: 850px;
}

.accordionList input:checked ~ article.ac-two {
	height: 995px;
}

.accordionList input:checked ~ article.ac-three {
	height: 450px;
}

.accordionList input:checked ~ article.ac-four {
  height: 375px;
}

.accordionList input:checked ~ article.ac-five {
  height: 600px;
}

.accordionList input:checked ~ article.tuition-one {
  height: 650px;
}


/*-- Tuition Table --*/

table {
  width: 83%;
  margin: 0 auto;
}

thead {
  background: #c6dee1;
}

th {
  padding: 10px 0;
}

td {
  padding: 10px 10px;
  background: #edf5f6;
  font-size: 0.70em;
}

tr {
  border: 1px solid #c6dee1;
}

table,
thead,
tbody {
  border: 2px solid #1a0841;
}

/*--- Tuition Calculator Styles ---*/

body {
  text-align: center;
}

.header {
  background: #c6dee1;
  color: black;
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 3px;
  padding-top: 15px;
  margin-top: 40px;
  padding-bottom: 0;
  border-radius: 25px;
  box-shadow: 3px 3px 2px #9088a3;
  border: 3px solid #9eb1b4;
}

#tuitionAmount {
  font-size: 18px;
}

#outputCalc {
  background: white;
  color: black;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 25px;
}

.groupOfButtons {
  background: #edf5f6;
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 10px;
  border-radius: 25px;
  font-size: 14px;
  box-shadow: 3px 3px 2px #cae1e4;
  border: 3px solid #d5dcdd;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  background-color: #478d95;
  color: white;
}

button:hover {
  background: #4d84e2;
  color: black;
  font-size: 1.05em;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dailyRate,
.infantRate,
.youngToddlerRate,
.oldToddlerRate,
.preschoolRate,
.schoolAgeRate {
  line-height: 1.5em;
  font-size: 0.75em;
}

.youngToddlerRate {
  padding-bottom: 20px;
}

.calculatePartOne {
  display: inline;
}

.calculatePartTwo {
  display: inline;
  padding-left: 55px;
}

#numberOfDays,
#numberOfInfants,
#numberOfYoungToddlers,
#numberOfOldToddlers,
#numberOfPreschoolers,
#numberOfSchoolAge {
  display: inline;
}



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 699px) {

/* ---- Navigation
For the main page & subpages ---- */

.name a,
.main-nav a {
	text-align: center;
  display: block;
}

.name a {
  color: #1a0841;
}

.main-nav {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-nav a {
	font-size: .95em;
	color: #1a0841;
	text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}

.main-nav a:hover {
  color: #4f9da6;
  opacity: 0.6;
}

.dropdown-content,
.dropdown-content2,
.dropdown-content3 {
  display: none;
  font-weight: bolder;
  border: 3px solid #4d84e2;
  background-color: #4d84e2;

}


/*-- Accordion CSS --*/

.accordionList{
	width: 400px;
  margin: 10px auto 30px auto;
}

.accordionList label {
  padding: 5px 20px;
  position: relative;
	z-index: 20;
	display: block;
	height: 40px;
	cursor: pointer;
	color: #1a0841;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 19px;
  background: #4d84e2;
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}

.accordionList label:hover {
  background: #eef2f3;
}

.accordionList input:checked + label,
.accordionList input:checked + label:hover{
  background: #4d84e2;
	color: #1a0841;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}

.accordionList input{
	display: none;
}

.accordionList article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	transition: 
		height 0.3s ease-in-out, 
		box-shadow 0.6s linear;
}

.accordionList input:checked ~ article {
	transition: 
		height 0.5s ease-in-out, 
		box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.accordionList article p {
	font-style: italic;
	color: #777;
	line-height: 16px;
	font-size: 0.75em;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.accordionList input:checked ~ article.ac-one {
	height: 850px;
}

.accordionList input:checked ~ article.ac-two {
	height: 995px;
}

.accordionList input:checked ~ article.ac-three {
	height: 450px;
}

.accordionList input:checked ~ article.ac-four {
  height: 375px;
}

.accordionList input:checked ~ article.ac-five {
  height: 600px;
}

.accordionList input:checked ~ article.tuition-one {
  height: 650px;
}


/*-- Tuition Table --*/

table {
  width: 70%;
  margin: 0 auto;
}

thead {
  background: #c6dee1;
}

th {
  padding: 10px 0;
}

td {
  padding: 10px 10px;
  background: #edf5f6;
  font-size: 1em;
}

tr {
  border: 1px solid #c6dee1;
}

table,
thead,
tbody {
  border: 2px solid #1a0841;
}

/*--- Tuition Calculator Styles ---*/

body {
  text-align: center;
}

.header {
  background: #c6dee1;
  color: black;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3px;
  padding-top: 15px;
  margin-top: 40px;
  padding-bottom: 0;
  border-radius: 25px;
  box-shadow: 3px 3px 2px #9088a3;
}

#tuitionAmount {
  font-size: 18px;
}

#outputCalc {
  background: white;
  color: black;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.groupOfButtons {
  background: #edf5f6;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 35px;
  padding-top: 25px;
  padding-bottom: 2px;
  border-radius: 25px;
  box-shadow: 3px 3px 2px #cae1e4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  height: 260px;
}

.buttons_one {
  margin-left: 10%;
}

button {
  background-color: #478d95;
  color: white;
}

button:hover {
  background: #ffffff;
  color: black;
  font-size: 1.05em;
}

.dailyRate,
.infantRate,
.youngToddlerRate,
.oldToddlerRate,
.preschoolRate,
.schoolAgeRate {
  line-height: 1.5em;
  font-size: 0.75em;
  margin-bottom: 2px;
}

.calculatePartOne {
  display: inline;
}

.calculatePartTwo {
  display: inline;
  padding-left: 55px;
}

#numberOfDays,
#numberOfInfants,
#numberOfYoungToddlers,
#numberOfOldToddlers,
#numberOfPreschoolers,
#numberOfSchoolAge {
  display: inline;
}


	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1110px) {

  /* ---- Navigation
  For the main page & subpages ---- */
  
  .name {
    font-size: 1.25em;
    display: inline-block;
    float: left;
  }
  
  .main-nav {
    display: block !important;
  }
  
  .main-nav a {
    font-size: .95em;
    color: #1a0841;
    text-transform: uppercase;
    display: inline-block;
    float: right;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .main-nav a:hover {
    opacity: 0.6;
  }
  
  .main-header {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: -5px;
    background: #4d84e2;
    padding: 25px 50px 25px;
    z-index: 21;
  }
  
  li.dropdown {
    float: right;
  }
  
  .dropdown-content,
  .dropdown-content2,
  .dropdown-content3 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    top: 72px;
  }
  
  .dropdown-content a,
  .dropdown-content2 a,
  .dropdown-content3 a {
    color: #4d84e2;
    padding: 12px 16px;
    font-size: 0.75em;
    text-decoration: none;
  }
  
  .main-nav a:nth-child(even) {
    color: #4f9da6;
  }
  
  .dropdown-content a:hover,
  .dropdown-content2 a:hover,
  .dropdown-content3 a:hover {
    background: white;
  }
  
  .dropdown:hover .dropdown-content,
  .dropdown:hover .dropdown-content2,
  .dropdown:hover .dropdown-content3 {
    display: flex;
    flex-direction: column;
  }
  
  .icon {
    display: none;
  }

.banner {
  padding-top: 65px;
  text-align: center;
  padding-bottom: 20px;
}
  
.main-footer {
  background: #4d84e2;
	padding: 2em 0;
	margin-top: 30px;
  text-align: center;
}

.mainHeading {
  text-align: center;
}

#announcementBanner {
  background: #ffcdcd;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 2px solid #ffeeee;
  border-bottom: 2px solid #ffeeee;
}

}